.form {
  display: grid;
  gap: 1rem;
  font-family: var(--font-body);
}

.form h1 {
  text-align: center;
}

.form div {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 1rem;
}

.form div textarea {
  width: 100%;
}

.form > div:not(:last-of-type) label::after {
  content: "*";
  color: color-mix(in hsl, var(--color-brand-grey) 70%, var(--color-black));
}

.button,
.disabledButton {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: var(--fontSize-header4);
  color: var(--color-brand-dark);
  font-family: var(--font-subheader);
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-brand-green);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button:hover {
  padding-right: 1.5rem;
}

.button:hover:after {
  opacity: 1;
  right: 0.625rem;
  top: 0.125rem;
}

.button:after {
  content: "";
  background-image: url("/add.svg");
  height: 2rem;
  width: 2rem;
  position: absolute;
  opacity: 0;
  font-size: 2rem;
  right: -20px;
  transition: 0.4s;
}

.button:active {
  transform: scale(0.95);
}

.disabledButton {
  background-color: var(--color-brand-grey);
}

.tooltip {
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  color: var(--color-brand-grey);
}

.tooltip > span > span,
.tooltip > span:last-child {
  font-style: italic;
}

.tooltip:hover {
  color: var(--color-brand-dark);
}

@media (width < 700px) {
  .form div {
    grid-template-columns: 1fr;
    gap: 0.125rem;
  }

  .tooltip {
    grid-area: unset;
  }
}
