.floatingButton {
  position: fixed;
  bottom: 4.5rem;
  right: 1rem;
  width: 6rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-brand-red);
  cursor: pointer;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  font-size: var(--fontSize-header5);
  font-family: var(--font-header);
  transition: all 0.2s var(--easing-normal);
}

.floatingButton:hover {
  background-color: color-mix(
    in hsl,
    var(--color-brand-red) 90%,
    var(--color-black)
  );
}

.floatingButton:active {
  transform: scale(0.95);
}
