.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--color-brand-yellow);
  box-shadow: inset 1px 1px 8px -1px var(--color-shadow);
}

.menu span {
  display: flex;
  gap: 2rem;
  font-family: var(--font-subheader);
}

.menu a,
.menu p {
  color: var(--color-brand-dark);
  font-family: var(--font-header);
  text-decoration: none;
}

.menu > span > a {
  transition: transform 0.2s ease-in-out;
}

.menu div p a {
  display: flex;
  align-items: center;
  background-color: color-mix(
    in hsl,
    var(--color-brand-teal) 10%,
    var(--color-white)
  );
  padding: 0.25rem;
  border-radius: 1.25rem;
}

.menu a:hover {
  text-decoration: underline;
}

.menu div p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu div p a img {
  border-radius: 50%;
  background-color: var(--color-white);
  margin-right: 0.25rem;
  box-shadow: var(--color-shadow) 2px 5px 8px 2px;
}

.menu > span:nth-child(2) {
  display: none;
}

.menu section {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.user {
  font-weight: 600;
}

@media (width < 850px) {
  .menu section span,
  .menu section > p:first-of-type {
    display: none !important;
  }

  .menu div p a {
    background-color: transparent;
    padding: 0;
  }
}

@media (width < 600px) {
  .menu > span:nth-child(1) {
    display: none;
  }

  .menu > span:nth-child(2) {
    display: flex;
  }

  .menu > span:nth-child(2) > a:hover {
    transition: transform 2s ease-in-out;
    transform: scale(1.1);
  }
}
