.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--color-brand-yellow);
  box-shadow: inset 1px 1px 8px -1px rgba(84, 113, 135, 0.5);
}

.menu span {
  display: flex;
  gap: 2rem;
}

.menu a,
.menu p {
  color: var(--color-brand-dark);
  font-family: var(--font-header);
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.menu div p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 2rem;
}

.menu > span:nth-child(2) {
  display: none;
}

.menu > span > a {
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 850px) {
  .menu > div > p > span {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .menu > span:nth-child(1) {
    display: none;
  }

  .menu > span:nth-child(2) {
    display: flex;
  }

  .menu > span:nth-child(2) > a:hover {
    transition: transform 2s ease-in-out;
    transform: scale(1.1);
  }
}
