.container {
  padding: 1rem;
}

.container h1 {
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--color-brand-teal);
  color: var(--color-white);
}

.container form {
  display: grid;
  gap: 1rem;
}

.container section {
  display: grid;
  align-items: center;
}

.container label {
  font-family: var(--font-subheader);
  font-size: var(--fontSize-header5);
  color: var(--color-brand-dark);
  margin-bottom: 0.125rem;
}

.container input {
  width: 50vw;
}

.container button {
  width: 9rem;
  background-color: var(--color-brand-teal);
  color: var(--color-white);
  font-family: var(--font-header);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: var(--fontSize-header5);
  cursor: pointer;
}

.container button:hover {
  background-color: color-mix(
    in hsl,
    var(--color-brand-teal) 80%,
    var(--color-brand-dark)
  );
}

.container button:active {
  transform: translateY(2px);
}

.card {
  width: 10rem;
  height: 10rem;
  display: grid;
  place-content: center;
  background-color: hsl(0deg 100% 50%);
  background-image: var(--radial-gradient);
  background-size: cover;
  background-position: center;
  border-radius: 5rem;
  box-shadow: 0 0 10px 0 hsl(0deg 0 0 / 10%);
  padding: 1rem;
  margin-top: 0.25rem;
}

.card p {
  font-family: var(--font-brand);
  text-align: center;
}

.avatar {
  border-radius: 50%;
  margin-top: 0.25rem;
}

@media (width < 700px) {
  .container {
    height: calc(100dvh - 8.5625rem);
  }

  .container input {
    width: 75vw;
  }
}

@media (width < 600px) {
  .card p {
    font-family: var(--font-header);
    color: var(--color-brand-yellow-saturated);
    text-shadow: 2px 2px var(--color-brand-dark);
  }
}

@media (width < 500px) {
  .container input {
    width: initial;
  }
}
