.container {
  padding: 2rem;
}

.container form {
  display: grid;
  gap: 1rem;
}

.container section {
  display: grid;
  align-items: center;
}

.container button {
  width: 5rem;
}

.card {
  width: 10rem;
  height: 10rem;
  display: grid;
  place-content: center;
  background-color: hsl(0deg 100% 50%);
  background-image: var(--radial-gradient);
  background-size: cover;
  background-position: center;
  border-radius: 5rem;
  box-shadow: 0 0 10px 0 hsl(0deg 0 0 / 10%);
  padding: 1rem;
}

.card p {
  font-family: var(--font-brand);
  text-align: center;
}

.avatar {
  border-radius: 50%;
}
