.container {
  display: grid;
  justify-items: center;
}

.card {
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin: 1.25rem 1.25rem 7rem;
  min-height: 25rem;
}
