.container {
  margin: 0 5rem;
}

.container h1 {
  text-align: center;
  margin: 1rem 0;
}

.wishlists {
  display: grid;
  gap: 1rem;
}

.link,
.card {
  width: 25rem;
}

.link {
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.025);
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height: 8rem;
}

.card > div {
  display: flex;
}
