.container {
  margin: 0 5rem;
}

.container h1 {
  text-align: center;
  margin: 1rem 0;
}

.wishlists {
  display: grid;
  gap: 1rem;
  justify-content: center;
}

.link,
.card {
  width: 10rem;
  height: 10rem;
}

.link {
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.025);
}

.card {
  display: grid;
  place-content: center;
  background-color: #fff;
  border-radius: 5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.card p {
  font-family: var(--font-brand);
  text-align: center;
}
