.container {
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  text-align: center;
  margin: 1rem 0;
  color: var(--color-white);
  background-color: var(--color-brand-teal);
  min-width: calc(100vw - 2rem);
}

.wishlists {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.link,
.card {
  width: 10rem;
  height: 10rem;
}

.link {
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.025);
}

.card {
  display: grid;
  place-content: center;
  background-color: hsl(0deg 100% 50%);
  background-image: var(--radial-gradient);
  background-size: cover;
  background-position: center;
  border-radius: 5rem;
  box-shadow: 0 0 10px 0 hsl(0deg 0 0 / 10%);
  padding: 1rem;
}

.card p {
  font-family: var(--font-brand);
  text-align: center;
}

@media (width < 700px) {
  .container {
    height: calc(100dvh - 8.5625rem);
  }

  .wishlists {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (width < 600px) {
  .card p {
    font-family: var(--font-header);
    color: var(--color-brand-yellow-saturated);
    text-shadow: 2px 2px var(--color-brand-dark);
  }
}

@media (width < 450px) {
  .link,
  .card {
    width: 8rem;
    height: 8rem;
  }
}
