.container {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: hsl(0deg 100% 50%);
  background-image: var(--radial-gradient);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--color-white);
  box-shadow: 0 0 1rem hsla(0deg 0% 0% / 20%);
}

.card > div > h3 {
  font-family: var(--font-header);
}

.card > div {
  align-self: flex-start;
}

.card > div > p {
  font-family: var(--font-subheader);
  margin-bottom: 1rem;
}

.card > form {
  font-family: var(--font-body);
  display: grid;
  gap: 0.3rem;
}

.card > form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card button {
  background-color: var(--color-brand-green);
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

.card button:hover {
  box-shadow: 0 0 0.5rem hsla(0deg 0% 0% / 20%);
}

.card button:active {
  transform: scale(0.95);
}
