.button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--color-brand-red);
  border: none;
  color: var(--color-white);
  padding: 5px 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 4px hsla(0deg 0% 0% / 20%);
}
