.container {
  display: grid;
  place-content: center;
}

.container h1 {
  text-align: center;
  padding-top: 1rem;
  font-family: var(--font-brand);
  font-size: calc(var(--fontSize-header1) * 1.5);
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  font-family: var(--font-body);
  margin: 2rem 2rem 7rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid var(--color-brand-grey);
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card summary {
  cursor: pointer;
  margin-bottom: 0.5rem;
}

@media (max-width: 850px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .container h1 {
    font-family: var(--font-header);
    color: var(--color-brand-teal);
    text-shadow: 2px 2px var(--color-brand-yellow-saturated);
  }
}
