.container {
  display: grid;
  place-content: center;
}

.container h1 {
  text-align: center;
  padding-top: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  font-family: var(--font-body);
  margin: 2rem;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card summary {
  cursor: pointer;
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
